xsd/koncove_zariadenie.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://urhh.gov.sk/445/2020/koncove_zariadenie/v1" xmlns="http://urhh.gov.sk/445/2020/koncove_zariadenie/v1">
  <xs:simpleType name="stringID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}.*" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string50">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datum">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:element name="HKoncove_Zariadenie">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Koncove_Zariadenie">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="IDKoncoveZariadenie" type="stringID" />
              <xs:element minOccurs="1" name="IDPrevadzka" type="stringID" />
              <xs:element minOccurs="0" name="TypTZ" nillable="true" type="string50" />
              <xs:element minOccurs="0" name="VyrobneCisloTZ" nillable="true" type="string50" />
              <xs:element minOccurs="1" name="UmiestnenieOd" type="datum" />
              <xs:element minOccurs="0" name="UmiestnenieDo" nillable="true" type="datum" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
