xsd/koncove_zariadenie_pocitadlo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://urhh.gov.sk/445/2020/koncove_zariadenie_pocitadlo/v1" xmlns="http://urhh.gov.sk/445/2020/koncove_zariadenie_pocitadlo/v1">
  <xs:simpleType name="stringID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}.*" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="intCislo">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="datum">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="stavTZ">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HKoncove_Zariadenie_Pocitadlo">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Koncove_Zariadenie_Pocitadlo">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="IDKoncoveZariadenieP" type="stringID" />
              <xs:element minOccurs="1" name="IDKoncoveZariadenie" type="stringID" />
              <xs:element minOccurs="1" name="DatumStavu" type="datum" />
              <xs:element minOccurs="0" name="PocitElektStavka" nillable="true" type="intCislo" />
              <xs:element minOccurs="0" name="PocitElektVyhra" nillable="true" type="intCislo" />
              <xs:element minOccurs="1" name="StavTZ" type="stavTZ" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
