xsd/licencia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://urhh.gov.sk/445/2020/licencia/v1" xmlns="http://urhh.gov.sk/445/2020/licencia/v1">
  <xs:simpleType name="stringID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}.*" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ico">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}" />
      <xs:length value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="druhLicencie">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
      <xs:enumeration value="6"/>
      <xs:enumeration value="7"/>
      <xs:enumeration value="8"/>
      <xs:enumeration value="9"/>
      <xs:enumeration value="10"/>
      <xs:enumeration value="11"/>
      <xs:enumeration value="12"/>
      <xs:enumeration value="13"/>
      <xs:enumeration value="14"/>
      <xs:enumeration value="15"/>
      <xs:enumeration value="16"/>
      <xs:enumeration value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HLicencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Licencia">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="IDLicencia" type="stringID" />
              <xs:element minOccurs="1" name="IDPrevadzkovatel" type="ico" />
              <xs:element minOccurs="1" name="DruhLicencie" type="druhLicencie" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
