xsd/porucha.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://urhh.gov.sk/445/2020/porucha/v1" xmlns="http://urhh.gov.sk/445/2020/porucha/v1">
  <xs:simpleType name="stringID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}.*" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string250">
    <xs:restriction base="xs:string">
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datumCas">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:element name="HPorucha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Porucha">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="IDPorucha" type="stringID" />
              <xs:element minOccurs="1" name="IDKoncoveZariadenie" type="stringID" />
              <xs:element minOccurs="1" name="PoruchaZaciatok" type="datumCas" />
              <xs:element minOccurs="0" name="PoruchaKoniec" nillable="true" type="datumCas" />
              <xs:element minOccurs="1" name="PoruchaOpis" type="string250" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
