xsd/prevadzka.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://urhh.gov.sk/445/2020/prevadzka/v1" xmlns="http://urhh.gov.sk/445/2020/prevadzka/v1">
  <xs:simpleType name="stringID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}.*" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="psc">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5,10}" />
      <xs:minLength value="5" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="intCislo">
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="cruhak">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{5}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string10">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string20">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string100">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datum">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:element name="HPrevadzka">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Prevadzka">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="IDPrevadzka" type="stringID" />
              <xs:element minOccurs="1" name="IDLicencia" type="stringID" />
              <xs:element minOccurs="0" name="PoradoveCislo" nillable="true" type="intCislo" />
              <xs:element minOccurs="0" name="CRUHAK" nillable="true" type="cruhak" />
              <xs:element minOccurs="0" name="Ulica" nillable="true" type="string100" />
              <xs:element minOccurs="0" name="CisloOrientacne" nillable="true" type="string20" />
              <xs:element minOccurs="0" name="CisloSupisne" nillable="true" type="string10" />
              <xs:element minOccurs="0" name="PSC" nillable="true" type="psc" />
              <xs:element minOccurs="0" name="Obec" nillable="true" type="string100" />
              <xs:element minOccurs="0" name="NazovUmiestnenia" type="string100" />
              <xs:element minOccurs="1" name="ZaciatokPrevadzky" type="datum" />
              <xs:element minOccurs="0" name="UkonceniePrevadzky" nillable="true" type="datum" />
              <xs:element minOccurs="1" name="PocetTZ" type="intCislo" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
