xsd/prevadzkovatel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://urhh.gov.sk/445/2020/prevadzkovatel/v1" xmlns="http://urhh.gov.sk/445/2020/prevadzkovatel/v1">
  <xs:simpleType name="ico">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}" />
      <xs:length value="8" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string100">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HPrevadzkovatel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Prevadzkovatel">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="IDPrevadzkovatel" type="ico" />
              <xs:element minOccurs="1" name="Nazov" type="string100" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
