xsd/sebaobmedzujuce_opatrenia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://urhh.gov.sk/445/2020/sebaobmedzujuce_opatrenia/v1" xmlns="http://urhh.gov.sk/445/2020/sebaobmedzujuce_opatrenia/v1">
  <xs:simpleType name="stringID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}.*" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string50">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datum">
    <xs:restriction base="xs:date" />
  </xs:simpleType>
  <xs:simpleType name="penaznaSuma14">
    <xs:restriction base="xs:decimal">
      <xs:maxExclusive value="1000000000000"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typNastavenia">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="platnostObmedzenia">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HSebaobmedzujuce_Opatrenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Sebaobmedzujuce_Opatrenia">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="IDSebaObmedzenie" type="stringID" />
              <xs:element minOccurs="1" name="IDHraca" type="stringID" />
              <xs:element minOccurs="1" name="DatumNastavenia" type="datum" />
              <xs:element minOccurs="1" name="TypNastavenia" type="typNastavenia" />
              <xs:element minOccurs="1" name="MaxVyska" type="penaznaSuma14" />
              <xs:element minOccurs="1" name="PlatnostObmedzenia" type="platnostObmedzenia" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
