xsd/tiket-s_prilezitost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://urhh.gov.sk/445/2020/tiket-s_prilezitost/v1" xmlns="http://urhh.gov.sk/445/2020/tiket-s_prilezitos/v1">
  <xs:simpleType name="stringID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}.*" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="kurz10">
    <xs:restriction base="xs:decimal">
      <xs:maxExclusive value="100000000"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HTiket-s_prilezitost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Tiket-s_prilezitost">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="IDTiketPrilezitost" type="stringID" />
              <xs:element minOccurs="1" name="IDKombinacia" type="stringID" />
              <xs:element minOccurs="1" name="IDPrilezitost" type="stringID" />
              <xs:element minOccurs="1" name="Kurz" type="kurz10" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
