xsd/udalost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://urhh.gov.sk/445/2020/udalost/v1" xmlns="http://urhh.gov.sk/445/2020/udalost/v1">
  <xs:simpleType name="stringID">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{8}.*" />
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string250">
    <xs:restriction base="xs:string">
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datumCas">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:simpleType name="udalostKoniec">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Y"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HUdalost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Udalost">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="IDUdalost" type="stringID" />
              <xs:element minOccurs="1" name="IDLicencia" type="stringID" />
              <xs:element minOccurs="1" name="UdalostNazov" type="string250" />
              <xs:element minOccurs="1" name="UdalostZaciatok" type="datumCas" />
              <xs:element minOccurs="0" name="UdalostKoniec" nillable="true" type="udalostKoniec" />
              <xs:element minOccurs="0" name="UdalostVysledok" nillable="true" type="string250" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
